* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rokkitt", serif;
}

.header {
  height: 72px;
  margin-bottom: 2px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 96px;
  text-align: center;
  align-items: center;
}

.logo-box {
  grid-column: 2;
}

.web-logo {
  height: 70px;
}

.search-box {
  grid-column: 3;
  /* background-color: #ccc; */
  background-color: #eee;
  width: 85%;
  border-radius: 23px;
}

.search {
  padding: 10px;
  background-color: #eee;
  /* width: 70%; */
  color: #666;
  font-weight: bold;
  border: none;
  font-size: 18px;
  border-radius: 23px;
}

/*
  cart-icon setting
*/
.cart-box {
  position: relative;
}
.total-cart {
  padding: 10px;
  /* background-color: #4d4d8f; */
  background-color: #4d4d8fd4;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  animation-name: demo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes demo {
  from {
    box-shadow: 0px 0px 0px 0px #4d4d8fd4;
  }
  to {
    box-shadow: 0px 0px 8px 11px #4d4d8fa3;
  }
}
.total-cart:hover {
  background-color: rgb(49, 49, 107);
}

.do {
  height: 20px;
  width: 20px;
  margin-top: -40px;
  position: absolute;

  border-radius: 50%;
  margin-left: 185px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  color: #444;
  background-color: #b8ffa8;
}
/*****************************************/

.btn {
  padding: 12px;
  background-color: rgb(77, 77, 143);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(49, 49, 107);
}

.icon {
  font-size: 14px;
}

.horizontal {
  border-top: 1px solid #ddd;
}

/*
    navigation section
    
    */

.nav {
  height: 50px;
  display: flex;
}

.navigation {
  display: flex;
  padding: 15px;
  font-size: 18px;
  margin: 0 auto;
}

.nav-li {
  margin-right: 48px;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.nav-link:hover,
.nav-link:active {
  color: #aaa;
}
/*
design section
*/

.section {
  padding: 24px 48px 48px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.add-link:link,
.add-link:visited {
  border-radius: 3px;
  text-decoration: none;
  padding: 8px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(36, 123, 194);
  border: 3px solid rgb(2, 53, 96);
}

.add-link:hover,
.add-link:active {
  background-color: rgb(2, 53, 96);
}
.head {
  color: rgb(36, 123, 194);
  margin-bottom: 24px;
}

.book-img {
  height: 100px;
  width: 130px;
  border-radius: 3px;
}

.table {
  border: 1px solid #fff;
  /* border-collapse: collapse; */
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}

th {
  background-color: #333;
  padding: 10px;
  color: white;
}

td a:link,
td a:visited {
  text-decoration: none;
  color: #555;
}
td a:hover,
td a:active {
  color: #444;
}
tr:nth-child(odd) {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #eee;
}
td {
  font-weight: 500;
  padding: 10px;
}
.category-link {
  text-decoration: none;
}

.cart-button {
  font-size: 18px;
  color: #555;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cart-button:hover {
  color: #444;
}

/*
    pagination section
*/

.page-link-list {
  text-align: center;
}

.page-link-list li {
  display: inline-block;
  margin-bottom: 12px;
}

.page-link:link,
.page-link:visited {
  text-decoration: none;
  color: white;
}

.link {
  padding: 8px;
  font-weight: bold;
  margin-right: 8px;
  background-color: rgb(36, 123, 194);
}

.link:hover {
  background-color: rgb(2, 53, 96);
}
/*
      footer-section
  */
.footer {
  background-color: #eee;
  text-align: center;
}

.footer p {
  color: rgb(36, 123, 194);
  padding: 24px;
  font-size: 14px;
  font-weight: 500;
}

.wp-link:link,
.wp-link:visited {
  color: rgb(36, 123, 194);
  text-decoration: none;
}

.wp-link:hover,
.wp-link:active {
  color: rgb(125, 197, 255);
}

.active {
  background-color: rgb(125, 197, 255);
}

*:focus {
  outline: none;
}
